{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
calculate distance
{% endblock title %}

{% block content %}

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">7sebli 6riguy app</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="{% url 'measurements:calaculate-view' %}">Map <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'measurements:drow_object' %}">Dessiner des objet Geographique</a>
          </li>
      </ul>
      <button class="btn btn-primary" onclick="villeMauritanie()"> les villes de la Mauritanie </button>
     
  </div>
</nav>
<!--End Navbar-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">La Distance Entre {{ address}} et {{ destination }} c'est :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ distance }} km
      </div>
    </div>
  </div>
</div>

{{ map|safe }}
<div class="container">
  <div class="vertical-align">
    <div class="vertical-wrapper">
      <div class="row">
        <!-- start colunm 1 -->
        <div class="content col-sm-12 col-md-6">
          <!-- start weather api resultat -->
          <div class="container">
            <div class="columns">
              <div class="column is-offset-4 is-4">
                <div class="box">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-50x50">
                        <img src="http://openweathermap.org/img/w/{{ iconA }}.png" alt="Image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <span class="title"> {{ kiffa }} </span>
                          <br>
                          <span class="subtitle"> {{ temperatureA }} °F</span>
                          <br>
                          {{ descriptionA }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end the weather Api result -->
        </div> <!-- END column 1-->
        <!-- start column 2 -->
        <div class="content col-sm-12 col-md-6">
          <!-- start weather api resultat -->
          <div class="container">
            <div class="columns">
              <div class="column is-offset-4 is-4">
                <div class="box">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-50x50">
                        <img src="http://openweathermap.org/img/w/{{ iconB }}.png" alt="Image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <span class="title"> {{ Rosso }} </span>
                          <br>
                          <span class="subtitle"> {{ temperatureB }} °F</span>
                          <br>
                          {{ descriptionB }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <!-- end column 2 -->
      </div>
    </div>
  </div>
</div>

<form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-primary">confirm</button>
</form>
<br>

<!-- This product includes GeoLite2 data created by MaxMind, available from
<a href="https://www.maxmind.com">https://www.maxmind.com</a>. -->

{% if request.POST and distance is not None %}
    <script>
        $(window).on('load', function(){
            $('#exampleModal').modal('show')
        })
    </script>
{% endif %}

<script>
  function villeMauritanie(){
      alert("Nouakchott,Néma,Nouadhibou,tichit,Kiffa,Zouerate,Rosso, Atar,Tidjikja, Boutilimit,Bogué ,Une jambe , Fdérik , Aioun ,Sélibaby, Akjoujt , Arafat ,Tevragh Zeina, Dar Naim , Kaédi")
  }
</script>

{% endblock content %}